{% extends 'base.html' %}

{% block title %}
Регистрация
{% endblock %}
 
{% block body %}
  <div class="login-container">
    <h1 class="login-title"> Регистрация </h1>
    <form class="login-form" method="post">
      <input name="name" required class="login-input" type="text" placeholder="Имя">
      <input name="surname" required class="login-input" type="text" placeholder="Фамилия">
      <input name="login" required class="login-input" type="text" placeholder="Логин">
      <input name="password" required class="login-input" type="password" placeholder="Пароль">
      <input name="password_repeat" required class="login-input" type="password" placeholder="Повторите пароль">
      {% for category, message in get_flashed_messages(True) %}
      <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %}
      <a class="r-link" href="/login">У меня уже есть аккаунт</a>
      <input name="enter" class="login-button" type="submit" value="Зарегистрироваться!">
    </form>
  </div>

{% endblock %}